<network>
  <name>ha</name>
  <uuid>{{ ha_network_uuid }}</uuid>
  <bridge name='{{ ha_network_source }}' stp='on' delay='0'/>
  <mac address='{{ ha_network_mac }}'/>
  <domain name='local'/>
  <forward mode="route"/>
  <ip address='{{ ha_network_ipv4 }}' netmask='{{ ha_network_ipv4_netmask }}'>
    <dhcp>
      <range start='{{ ha_network_dhcpv4_start }}' end='{{ ha_network_dhcpv4_end }}'/>
    </dhcp>
  </ip>
</network>
